timer/*.o
timer/a.out
timer/timer
C/src/getpwnam_r/main
C/src/getuid/main
C/src/hello/main
C/src/macro/main
C/src/oppro/main
C/src/passwd/main
C/src/ternary/main
C/src/arg_parser/main
C/src/array/main
C/src/assert/main
C/src/benchmark/main
C/src/bits/main
C/src/built_in_type/main
C/src/clock/main
C/src/concat/main
C/src/data_type/main
C/src/define/main
C/src/dup/main
C/src/entry_point/main
C/src/file/main
C/src/getpid/main
C/src/glue/main
C/src/md5/main
C/src/memset/main
C/src/ncurses/main
C/src/old_style/main
C/src/op_pre/main
C/src/print/main
C/src/rand_with_prob/main
C/src/readvdso/main
C/src/reloc/main
C/src/sizeof/main
C/src/struct/main
C/src/tinyshell/main
C/src/typeof/main
C/src/union/main
C/src/unlink/main
C/src/variable/main
C/src/vdso/main
C/src/void/main
C/src/test2/main
C/src/test3/main
C/src/assemble/main
C/src/daemon/main
C/src/multi_thread/main
C/src/sqlite3/main
C/src/wait/main
C/src/signal/main
C/src/abort/main
C/src/container/main
C/src/test/main
C/src/test4/main
C/src/affinity/main
